@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunitosans/v12/pe0qMImSLYBIv1o4X1M8cfe6.ttf) format('truetype');
}
html {
  overflow-y: scroll;
}
:root {
  overflow-y: auto;
  overflow-x: hidden;
}
:root body {
  position: absolute;
}
.swiper-container {
  overflow: hidden;
  position: relative;
}
*,
*:before,
*:after {
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 1em;
}
ol,
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
body {
  width: 100vw;
  overflow: hidden;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: 150%;
  color: #1c1c1c;
  position: relative;
}
a {
  color: #1c1c1c;
  text-decoration: none;
}
.container {
  max-width: 1200px;
  padding: 0px 10px;
  margin: 0px auto;
}
a.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  max-width: 200px;
  height: 50px;
  color: #fff;
  font-size: 18px;
  position: relative;
  z-index: 2;
  box-shadow: 10px 10px 0px #000;
}
a.button-orange {
  background: #f2a154;
}
a.button-blue {
  background: #314e52;
}
h3 {
  font-size: 36px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 150%;
  color: #314e52;
}
h3__top {
  background: #314e52;
}
h3__top-wrapper {
  padding: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
h3__top-wrapper a {
  color: #fff;
}
h3__main-wrapper {
  display: grid;
  grid-template-columns: 250px 1fr;
  align-items: center;
  min-height: 90px;
}
h3__main-logo span {
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 150%;
  color: #314e52;
}
h3__main-logo span:nth-child(2) {
  color: #f2a154;
}
h3__main-links {
  min-height: 100%;
  display: grid;
  align-items: center;
}
h3__main-links ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100%;
}
h3__main-links ul li a {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 150%;
  color: #314e52;
  min-height: 90px;
  position: relative;
}
h3__main-links ul li a:before {
  content: '';
  width: 0%;
  height: 4px;
  background: #f2a154;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.5s linear;
}
h3__main-links ul li a:hover:before {
  width: 100%;
}
.line {
  width: 100vw;
  height: 200px;
  background: #314e52;
  position: absolute;
  bottom: 0;
  left: 0;
}
.header__top {
  background: #314e52;
}
.header__top-wrapper {
  padding: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.header__top-wrapper a {
  color: #fff;
}
.header__main-wrapper {
  display: grid;
  grid-template-columns: 250px 1fr;
  align-items: center;
  min-height: 90px;
}
.header__main-logo span {
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 150%;
  color: #314e52;
}
.header__main-logo span:nth-child(2) {
  color: #f2a154;
}
.header__main-links {
  min-height: 100%;
  display: grid;
  align-items: center;
}
.header__main-links ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100%;
}
.header__main-links ul li a {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 150%;
  color: #314e52;
  min-height: 90px;
  position: relative;
}
.header__main-links ul li a:before {
  content: '';
  width: 0%;
  height: 4px;
  background: #f2a154;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.5s linear;
}
.header__main-links ul li a:hover:before {
  width: 100%;
}
.main {
  background: #e7e6e1;
  padding: 50px 0px;
  position: relative;
}
.main__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 30px;
  align-items: center;
  position: relative;
  z-index: 5;
}
.main__text h1 {
  font-family: Montserrat;
  font-weight: 700;
  line-height: 150%;
  color: #314e52;
  font-size: 45px;
  margin-bottom: 15px;
}
.main__text h1__top {
  background: #314e52;
}
.main__text h1__top-wrapper {
  padding: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.main__text h1__top-wrapper a {
  color: #fff;
}
.main__text h1__main-wrapper {
  display: grid;
  grid-template-columns: 250px 1fr;
  align-items: center;
  min-height: 90px;
}
.main__text h1__main-logo span {
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 150%;
  color: #314e52;
}
.main__text h1__main-logo span:nth-child(2) {
  color: #f2a154;
}
.main__text h1__main-links {
  min-height: 100%;
  display: grid;
  align-items: center;
}
.main__text h1__main-links ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100%;
}
.main__text h1__main-links ul li a {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 150%;
  color: #314e52;
  min-height: 90px;
  position: relative;
}
.main__text h1__main-links ul li a:before {
  content: '';
  width: 0%;
  height: 4px;
  background: #f2a154;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.5s linear;
}
.main__text h1__main-links ul li a:hover:before {
  width: 100%;
}
.main__text h2 {
  font-size: 20px;
}
.main__text ul {
  margin: 30px 0px;
}
.main__text ul li {
  position: relative;
  left: 40px;
  margin: 10px 0px;
}
.main__text ul li:before {
  content: '';
  width: 20px;
  height: 20px;
  background: url(../img/icons/ok.svg) no-repeat center;
  background-size: cover;
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
}
.main__text-btn {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.main__text-btn span {
  margin-left: 30px;
  text-transform: uppercase;
  max-width: 300px;
}
.main__image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  position: relative;
}
.main__image-box:nth-child(1) {
  grid-column-start: span 2;
}
.main__image-box:nth-child(3) {
  background: url(../img/timer.png) no-repeat left top;
  background-size: 150px 150px;
}
.main__image .timer {
  position: absolute;
  right: 0;
  bottom: 0px;
  background: #f2a154;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 150%;
  max-width: 200px;
  text-align: center;
  padding: 10px;
  color: #314e52;
}
.main__image .timer__top {
  background: #314e52;
}
.main__image .timer__top-wrapper {
  padding: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.main__image .timer__top-wrapper a {
  color: #fff;
}
.main__image .timer__main-wrapper {
  display: grid;
  grid-template-columns: 250px 1fr;
  align-items: center;
  min-height: 90px;
}
.main__image .timer__main-logo span {
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 150%;
  color: #314e52;
}
.main__image .timer__main-logo span:nth-child(2) {
  color: #f2a154;
}
.main__image .timer__main-links {
  min-height: 100%;
  display: grid;
  align-items: center;
}
.main__image .timer__main-links ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100%;
}
.main__image .timer__main-links ul li a {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 150%;
  color: #314e52;
  min-height: 90px;
  position: relative;
}
.main__image .timer__main-links ul li a:before {
  content: '';
  width: 0%;
  height: 4px;
  background: #f2a154;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.5s linear;
}
.main__image .timer__main-links ul li a:hover:before {
  width: 100%;
}
.main__image .timer__main {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  margin-top: 10px;
}
.main__image span.trigger {
  position: absolute;
  bottom: -60px;
  color: #f2a154;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
}
.main__image span.trigger__top {
  background: #314e52;
}
.main__image span.trigger__top-wrapper {
  padding: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.main__image span.trigger__top-wrapper a {
  color: #fff;
}
.main__image span.trigger__main-wrapper {
  display: grid;
  grid-template-columns: 250px 1fr;
  align-items: center;
  min-height: 90px;
}
.main__image span.trigger__main-logo span {
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 150%;
  color: #314e52;
}
.main__image span.trigger__main-logo span:nth-child(2) {
  color: #f2a154;
}
.main__image span.trigger__main-links {
  min-height: 100%;
  display: grid;
  align-items: center;
}
.main__image span.trigger__main-links ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100%;
}
.main__image span.trigger__main-links ul li a {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 150%;
  color: #314e52;
  min-height: 90px;
  position: relative;
}
.main__image span.trigger__main-links ul li a:before {
  content: '';
  width: 0%;
  height: 4px;
  background: #f2a154;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.5s linear;
}
.main__image span.trigger__main-links ul li a:hover:before {
  width: 100%;
}
.main .square {
  position: absolute;
  height: 500px;
  width: 500px;
  background: #314e52;
  right: calc((100vw - 1240px) / 2);
  bottom: 0;
  z-index: 1;
}
.comparison {
  padding: 80px 0px 50px 0px;
}
.comparison__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 30px;
}
.comparison__box {
  background: #e7e6e1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}
.comparison__box-text {
  padding: 30px;
}
.comparison__box-category {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #f2a154;
  font-size: 18px;
  box-shadow: 10px 10px 0px #000;
  margin-bottom: 50px;
}
.comparison__box-image {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  position: relative;
}
.comparison__box-image-category {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #314e52;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.comparison__box:nth-child(1) {
  padding-left: calc((100vw - 1220px) / 2);
}
.comparison__box:nth-child(2) {
  padding-right: calc((100vw - 1220px) / 2);
}
.comparison__info {
  text-align: center;
  margin-top: 30px;
  padding: 0px calc((100vw - 1220px) / 2);
}
.comparison__info span {
  display: block;
  margin-top: 30px;
  font-size: 18px;
  color: #f2a154;
}
.catalog {
  padding: 50px 0px;
  background: #314e52;
}
.catalog__top {
  display: flex;
  margin-bottom: 30px;
}
.catalog__top h3 {
  max-width: 400px;
  color: #fff;
}
.catalog__top a {
  margin-left: auto;
}
.catalog__box img {
  display: block;
  max-width: 90%;
  margin: 0px auto;
  position: relative;
  top: 50px;
}
.catalog__box-info {
  background: #e7e6e1;
  padding: 80px 20px 30px 20px;
}
.catalog__box-info h4 {
  font-family: Montserrat;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
  margin-bottom: 10px;
  font-size: 18px;
}
.catalog__box-info h4__top {
  background: #314e52;
}
.catalog__box-info h4__top-wrapper {
  padding: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.catalog__box-info h4__top-wrapper a {
  color: #fff;
}
.catalog__box-info h4__main-wrapper {
  display: grid;
  grid-template-columns: 250px 1fr;
  align-items: center;
  min-height: 90px;
}
.catalog__box-info h4__main-logo span {
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 150%;
  color: #314e52;
}
.catalog__box-info h4__main-logo span:nth-child(2) {
  color: #f2a154;
}
.catalog__box-info h4__main-links {
  min-height: 100%;
  display: grid;
  align-items: center;
}
.catalog__box-info h4__main-links ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100%;
}
.catalog__box-info h4__main-links ul li a {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 150%;
  color: #314e52;
  min-height: 90px;
  position: relative;
}
.catalog__box-info h4__main-links ul li a:before {
  content: '';
  width: 0%;
  height: 4px;
  background: #f2a154;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.5s linear;
}
.catalog__box-info h4__main-links ul li a:hover:before {
  width: 100%;
}
.catalog__box-info a.button {
  margin-top: 20px;
  min-width: 100%;
  max-width: 100%;
}
.catalog__box-info span.price {
  display: block;
  margin-top: 10px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 150%;
}
.catalog__box-info span.price__top {
  background: #314e52;
}
.catalog__box-info span.price__top-wrapper {
  padding: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.catalog__box-info span.price__top-wrapper a {
  color: #fff;
}
.catalog__box-info span.price__main-wrapper {
  display: grid;
  grid-template-columns: 250px 1fr;
  align-items: center;
  min-height: 90px;
}
.catalog__box-info span.price__main-logo span {
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 150%;
  color: #314e52;
}
.catalog__box-info span.price__main-logo span:nth-child(2) {
  color: #f2a154;
}
.catalog__box-info span.price__main-links {
  min-height: 100%;
  display: grid;
  align-items: center;
}
.catalog__box-info span.price__main-links ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100%;
}
.catalog__box-info span.price__main-links ul li a {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 150%;
  color: #314e52;
  min-height: 90px;
  position: relative;
}
.catalog__box-info span.price__main-links ul li a:before {
  content: '';
  width: 0%;
  height: 4px;
  background: #f2a154;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.5s linear;
}
.catalog__box-info span.price__main-links ul li a:hover:before {
  width: 100%;
}
.why {
  padding: 50px 0px;
  background: url(../img/whybg.png) no-repeat center;
  background-size: cover;
  text-align: center;
  position: relative;
}
.why h3 {
  color: #fff;
  padding: 5px;
  background: #314e52;
  border-radius: 10px;
  display: inline-block;
}
.why__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 30px;
  margin-top: 40px;
}
.why__box {
  text-align: left;
  background: rgba(255, 255, 255, 0.7);
  padding: 30px;
}
.why__box ul li {
  margin: 15px 0px;
  position: relative;
  left: 60px;
  margin-right: 60px;
}
.why__box ul li span.bold {
  display: block;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 10px;
}
.why__box ul li span.bold__top {
  background: #314e52;
}
.why__box ul li span.bold__top-wrapper {
  padding: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.why__box ul li span.bold__top-wrapper a {
  color: #fff;
}
.why__box ul li span.bold__main-wrapper {
  display: grid;
  grid-template-columns: 250px 1fr;
  align-items: center;
  min-height: 90px;
}
.why__box ul li span.bold__main-logo span {
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 150%;
  color: #314e52;
}
.why__box ul li span.bold__main-logo span:nth-child(2) {
  color: #f2a154;
}
.why__box ul li span.bold__main-links {
  min-height: 100%;
  display: grid;
  align-items: center;
}
.why__box ul li span.bold__main-links ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100%;
}
.why__box ul li span.bold__main-links ul li a {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 150%;
  color: #314e52;
  min-height: 90px;
  position: relative;
}
.why__box ul li span.bold__main-links ul li a:before {
  content: '';
  width: 0%;
  height: 4px;
  background: #f2a154;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.5s linear;
}
.why__box ul li span.bold__main-links ul li a:hover:before {
  width: 100%;
}
.why__box ul li:before {
  content: '';
  height: 40px;
  width: 40px;
  background: url(../img/icons/okcircle.svg) no-repeat center;
  background-size: cover;
  position: absolute;
  left: -60px;
  top: 0;
}
.why h5 {
  max-height: 65px;
  margin-top: auto;
  padding: 5px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}
.advantage {
  padding: 50px 0px;
  background: #314e52;
}
.advantage h4 {
  text-align: center;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 150%;
  font-size: 32px;
  color: #f2a154;
  margin-bottom: 40px;
}
.advantage h4__top {
  background: #314e52;
}
.advantage h4__top-wrapper {
  padding: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.advantage h4__top-wrapper a {
  color: #fff;
}
.advantage h4__main-wrapper {
  display: grid;
  grid-template-columns: 250px 1fr;
  align-items: center;
  min-height: 90px;
}
.advantage h4__main-logo span {
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 150%;
  color: #314e52;
}
.advantage h4__main-logo span:nth-child(2) {
  color: #f2a154;
}
.advantage h4__main-links {
  min-height: 100%;
  display: grid;
  align-items: center;
}
.advantage h4__main-links ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100%;
}
.advantage h4__main-links ul li a {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 150%;
  color: #314e52;
  min-height: 90px;
  position: relative;
}
.advantage h4__main-links ul li a:before {
  content: '';
  width: 0%;
  height: 4px;
  background: #f2a154;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.5s linear;
}
.advantage h4__main-links ul li a:hover:before {
  width: 100%;
}
.advantage h5 {
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.advantage__wrapper {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 30px;
}
.advantage__box ul li {
  margin: 15px 0px;
  position: relative;
  left: 60px;
  margin-right: 60px;
  color: #fff;
}
.advantage__box ul li span.bold {
  display: block;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 10px;
  color: #f2a154;
}
.advantage__box ul li span.bold__top {
  background: #314e52;
}
.advantage__box ul li span.bold__top-wrapper {
  padding: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.advantage__box ul li span.bold__top-wrapper a {
  color: #fff;
}
.advantage__box ul li span.bold__main-wrapper {
  display: grid;
  grid-template-columns: 250px 1fr;
  align-items: center;
  min-height: 90px;
}
.advantage__box ul li span.bold__main-logo span {
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 150%;
  color: #314e52;
}
.advantage__box ul li span.bold__main-logo span:nth-child(2) {
  color: #f2a154;
}
.advantage__box ul li span.bold__main-links {
  min-height: 100%;
  display: grid;
  align-items: center;
}
.advantage__box ul li span.bold__main-links ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100%;
}
.advantage__box ul li span.bold__main-links ul li a {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 150%;
  color: #314e52;
  min-height: 90px;
  position: relative;
}
.advantage__box ul li span.bold__main-links ul li a:before {
  content: '';
  width: 0%;
  height: 4px;
  background: #f2a154;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.5s linear;
}
.advantage__box ul li span.bold__main-links ul li a:hover:before {
  width: 100%;
}
.advantage__box ul li:before {
  content: '';
  height: 40px;
  width: 40px;
  background: url(../img/icons/okcircle.svg) no-repeat center;
  background-size: cover;
  position: absolute;
  left: -60px;
  top: 0;
}
.advantage__box img {
  max-width: 400px;
}
.feedback {
  padding: 50px 0px;
  position: relative;
}
.feedback h3 {
  text-align: center;
  margin-bottom: 40px;
}
.feedback .feedback__slide img {
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0px auto;
  position: relative;
  top: 50px;
}
.feedback .feedback__slide-box {
  padding: 80px 30px 30px 30px;
  background: #e7e6e1;
  text-align: center;
}
.feedback .feedback__slide-box span.name {
  display: block;
  margin-top: 20px;
  font-size: 14px;
}
.feedback .feedback__slide-box span.bold {
  font-family: Montserrat;
  font-weight: 700;
  line-height: 150%;
}
.feedback .feedback__slide-box span.bold__top {
  background: #314e52;
}
.feedback .feedback__slide-box span.bold__top-wrapper {
  padding: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.feedback .feedback__slide-box span.bold__top-wrapper a {
  color: #fff;
}
.feedback .feedback__slide-box span.bold__main-wrapper {
  display: grid;
  grid-template-columns: 250px 1fr;
  align-items: center;
  min-height: 90px;
}
.feedback .feedback__slide-box span.bold__main-logo span {
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 150%;
  color: #314e52;
}
.feedback .feedback__slide-box span.bold__main-logo span:nth-child(2) {
  color: #f2a154;
}
.feedback .feedback__slide-box span.bold__main-links {
  min-height: 100%;
  display: grid;
  align-items: center;
}
.feedback .feedback__slide-box span.bold__main-links ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100%;
}
.feedback .feedback__slide-box span.bold__main-links ul li a {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 150%;
  color: #314e52;
  min-height: 90px;
  position: relative;
}
.feedback .feedback__slide-box span.bold__main-links ul li a:before {
  content: '';
  width: 0%;
  height: 4px;
  background: #f2a154;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.5s linear;
}
.feedback .feedback__slide-box span.bold__main-links ul li a:hover:before {
  width: 100%;
}
.feedback-btn {
  margin-top: 30px;
}
.feedback-btn a.button {
  margin: 0px auto;
}
.buy {
  padding: 50px 0px;
  background: #e7e6e1;
  position: relative;
  z-index: 2;
}
.buy h3 {
  margin-bottom: 40px;
  position: relative;
  padding-left: 70px;
}
.buy h3:before {
  content: '';
  height: 60px;
  width: 60px;
  background: url(../img/icons/cart.svg) no-repeat center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.buy__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 30px;
  position: relative;
  z-index: 2;
}
.buy__text ol li {
  list-style: decimal;
  list-style-position: inside;
}
.buy__steps {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}
.buy__steps-card {
  grid-column-start: 1;
  width: 200px;
  height: 50px;
  box-shadow: 10px 10px 0px #000;
  color: #fff;
  background: #314e52;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.buy__steps-card:before,
.buy__steps-image:before {
  content: '';
  height: 40px;
  width: 40px;
  background: url(../img/icons/arrowsteps.svg) no-repeat center;
  background-size: cover;
  position: absolute;
  bottom: -50px;
  left: 30%;
  transform: rotate(-40deg);
}
.buy__steps-card:nth-child(3):before {
  bottom: 60px;
  left: 90%;
  transform: rotate(-130deg);
}
.buy__steps-image:nth-child(5):before {
  left: 0%;
  transform: rotate(40deg);
}
.buy__steps-image:nth-child(4):before,
.buy__steps-image:nth-child(6):before {
  display: none;
}
.buy__steps-image {
  display: flex;
  align-items: flex-end;
  position: relative;
}
.buy__steps-image img {
  box-shadow: 10px 10px 0px #000;
  display: block;
}
.buy__steps-image:after {
  content: '';
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: #314e52;
  color: #fff;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buy__steps-image:nth-child(4) {
  grid-column-start: 1;
  grid-row-start: 4;
}
.buy__steps-image:nth-child(5) {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}
.buy__steps-image:nth-child(6) {
  grid-column-start: 2;
  grid-row-start: 4;
}
.buy__steps-image:nth-child(4):after {
  content: '5';
}
.buy__steps-image:nth-child(5):after {
  content: '4';
}
.buy__steps-image:nth-child(6):after {
  content: '6-7';
}
.buy .line {
  height: 200px;
}
.form {
  background: #314e52;
}
.form__wrapper {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form__wrapper h3 {
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}
.footer {
  padding: 50px 0px;
}
.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
}
.footer__column h5 {
  margin-bottom: 10px;
}
.footer__column span {
  font-size: 14px;
}
.footer__column form {
  margin-top: 30px;
  max-width: 100%;
  display: flex;
  align-items: center;
}
.footer__column form input {
  font-size: 1em;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: 150%;
  border: 2px solid #c4c4c4;
  max-width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  margin-right: 10px;
}
.footer__column form button {
  height: 40px;
  width: 100px;
  font-size: 1em;
  color: #fff;
  background: #f2a154;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__column:nth-child(2) a {
  display: block;
  margin-bottom: 20px;
  padding-left: 30px;
  position: relative;
}
.footer__column:nth-child(2) a:before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.footer__column:nth-child(2) a.whatsapp:before {
  background: url(../img/icons/whatsapp.svg);
  background-size: cover;
}
.footer__column:nth-child(2) a.phone:before {
  background: url(../img/icons/phone.svg);
  background-size: cover;
}
.footer__column:nth-child(2) a.mail:before {
  background: url(../img/icons/email.svg);
  background-size: cover;
}
.footer__column:nth-child(3) a {
  display: block;
  margin-bottom: 10px;
}
.care {
  padding: 50px 0px;
  background: #e7e6e1;
  overflow: hidden;
  position: relative;
}
.care h3 {
  max-width: 500px;
}
.care__wrapper {
  position: relative;
  z-index: 2;
}
.care__image {
  min-height: 600px;
  background: url(../img/carebg.png) no-repeat center;
  background-size: 800px;
  position: relative;
}
.care__image span {
  padding: 5px;
  border-radius: 10px;
  color: #fff;
  background: #314e52;
  position: absolute;
}
.care__image span:nth-child(1) {
  top: 68%;
  left: 35%;
  transform: rotate(8deg);
  font-size: 24px;
}
.care__image span:nth-child(2) {
  top: 63%;
  left: 65%;
}
.care__image span:nth-child(3) {
  top: 50%;
  left: 30%;
}
.care__image span:nth-child(4) {
  top: 38%;
  left: 58%;
}
.care__image span:nth-child(5) {
  top: 39%;
  left: 68%;
}
.care__image span:nth-child(6) {
  top: 45%;
  left: 75%;
}
.care__toilet {
  max-width: 250px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.care__toilet:before {
  content: 'Туалет';
  position: absolute;
  font-size: 1em;
  color: #fff;
  right: 10%;
  bottom: 18%;
  background: #314e52;
  padding: 5px;
  border-radius: 10px;
}
.care__other {
  max-width: 600px;
  position: relative;
  bottom: -100px;
  right: 0;
  z-index: 3;
}
.care__other span {
  padding: 5px;
  border-radius: 10px;
  color: #fff;
  background: #314e52;
  position: absolute;
}
.care__other span:nth-child(2) {
  top: 50%;
  left: 10%;
}
.care__other span:nth-child(3) {
  top: 50%;
  left: 50%;
}
.care__other span:nth-child(4) {
  top: 50%;
  left: 80%;
}
.care__top {
  display: flex;
}
.care__btn {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 3;
}
.care__btn span {
  text-transform: uppercase;
  margin-left: 20px;
  max-width: 300px;
  color: #fff;
}
.care .circle {
  width: 100vw;
  min-height: 800px;
  background: #314e52;
  border-radius: 50%;
  position: absolute;
  bottom: -40%;
  z-index: 1;
}
@media (max-width: 950px) {
  .container {
    max-width: none;
  }
  .header__top-wrapper a {
    font-size: 12px;
  }
  .header__main-logo span {
    font-size: 1em;
  }
  .header__main-links ul li a {
    font-size: 1em;
  }
  .main__wrapper {
    grid-template-columns: 1fr;
  }
  .main__text {
    max-width: 80%;
  }
  .main__image .timer {
    position: relative;
    max-width: 400px;
    margin: 0px auto;
  }
  .main__image-box:nth-child(3) {
    background: url(../img/timer.png) no-repeat left top;
    background-size: 200px 200px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
  }
  .main__image-box:nth-child(3) span.trigger {
    position: relative;
    bottom: 0;
    max-width: 400px;
    margin: 0px auto;
  }
  .main .square {
    right: 0px;
  }
  .comparison__wrapper {
    grid-template-columns: 1fr;
  }
  .comparison__box:nth-child(1) {
    padding-left: 10px;
    padding-right: 10px;
  }
  .comparison__box:nth-child(2) {
    padding-right: 10px;
    padding-left: 10px;
  }
  .comparison__info {
    padding-right: 10px;
    padding-left: 10px;
  }
  .why__wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  .advantage__wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  .advantage__box:nth-child(2) {
    grid-row-start: 3;
  }
  .buy__wrapper {
    grid-template-columns: 1fr;
  }
  .footer__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .care h3 {
    max-width: none;
    text-align: center;
  }
  .care__image {
    min-height: none;
    background: url(../img/carebg.png) no-repeat center;
    background-size: 100%;
    position: relative;
  }
  .care__image span {
    padding: 5px;
    border-radius: 10px;
    color: #fff;
    background: #314e52;
    position: absolute;
  }
  .care__image span:nth-child(1) {
    top: 68%;
    left: 25%;
    transform: rotate(8deg);
    font-size: 24px;
  }
  .care__image span:nth-child(2) {
    top: 63%;
    left: 65%;
  }
  .care__image span:nth-child(3) {
    top: 50%;
    left: 30%;
  }
  .care__image span:nth-child(4) {
    top: 38%;
    left: 58%;
  }
  .care__image span:nth-child(5) {
    top: 39%;
    left: 68%;
  }
  .care__image span:nth-child(6) {
    top: 45%;
    left: 75%;
  }
  .care__toilet {
    max-width: 250px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .care__other {
    margin-top: 50px;
    max-width: none;
    position: relative;
    bottom: 0px;
    right: 0;
    z-index: 3;
  }
  .care__other span {
    padding: 5px;
    border-radius: 10px;
    color: #fff;
    background: #314e52;
    position: absolute;
  }
  .care__other span:nth-child(2) {
    top: 50%;
    left: 10%;
  }
  .care__other span:nth-child(3) {
    top: 50%;
    left: 50%;
  }
  .care__other span:nth-child(4) {
    top: 50%;
    left: 80%;
  }
  .care__top {
    display: flex;
    flex-direction: column;
  }
  .care__btn {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
  }
  .care__btn span {
    text-transform: uppercase;
    margin-left: 20px;
    max-width: 300px;
    color: #fff;
  }
  .care .circle {
    width: 100vw;
    min-height: 800px;
    background: #314e52;
    border-radius: 50%;
    position: absolute;
    bottom: -40%;
    z-index: 1;
  }
}
@media (max-width: 600px) {
  .container {
    padding: 0px 20px;
  }
  a.button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    max-width: 200px;
    height: 50px;
    color: #fff;
    font-size: 18px;
    position: relative;
    z-index: 2;
    box-shadow: 10px 10px 0px #000;
  }
  a.button-orange {
    background: #f2a154;
  }
  a.button-blue {
    background: #314e52;
  }
  h3 {
    font-size: 24px;
  }
  .line {
    width: 100vw;
    height: 200px;
    background: #314e52;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 10;
  }
  .header__top {
    display: none;
  }
  .header__main-wrapper {
    grid-template-columns: 250px 1fr;
  }
  .header__main-links {
    margin-left: auto;
    min-height: 24px;
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .header__main-links span {
    height: 2px;
    width: 100%;
    border-radius: 5px;
    background: #000;
  }
  .header__main-links ul {
    position: fixed;
    top: 90px;
    bottom: 0;
    right: 0;
    left: 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-height: 100%;
    z-index: 10;
    padding-top: 50px;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.5s linear;
  }
  .header__main-links ul li a {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 150%;
    color: #314e52;
    min-height: 50px;
    position: relative;
    min-width: 100%;
  }
  .header__main-links ul li a__top {
    background: #314e52;
  }
  .header__main-links ul li a__top-wrapper {
    padding: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
  }
  .header__main-links ul li a__top-wrapper a {
    color: #fff;
  }
  .header__main-links ul li a__main-wrapper {
    display: grid;
    grid-template-columns: 250px 1fr;
    align-items: center;
    min-height: 90px;
  }
  .header__main-links ul li a__main-logo span {
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 150%;
    color: #314e52;
  }
  .header__main-links ul li a__main-logo span:nth-child(2) {
    color: #f2a154;
  }
  .header__main-links ul li a__main-links {
    min-height: 100%;
    display: grid;
    align-items: center;
  }
  .header__main-links ul li a__main-links ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100%;
  }
  .header__main-links ul li a__main-links ul li a {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 150%;
    color: #314e52;
    min-height: 90px;
    position: relative;
  }
  .header__main-links ul li a__main-links ul li a:before {
    content: '';
    width: 0%;
    height: 4px;
    background: #f2a154;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.5s linear;
  }
  .header__main-links ul li a__main-links ul li a:hover:before {
    width: 100%;
  }
  .header__main-links ul li a:before {
    content: '';
    width: 0%;
    height: 4px;
    background: #f2a154;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.5s linear;
  }
  .header__main-links ul li a:hover:before {
    width: 100%;
  }
  .header__main-links .menu-open {
    transform: translateX(0%);
    opacity: 1;
  }
  .header__main-links .top {
    animation: top 0.5s linear forwards;
  }
  .header__main-links .middle {
    animation: middle 0.5s linear forwards;
  }
  .header__main-links .bottom {
    animation: bottom 0.5s linear forwards;
  }
  @keyframes top {
    to {
      transform: translateY(11px) rotate(45deg);
    }
  }
  @keyframes bottom {
    to {
      transform: translateY(-11px) rotate(-45deg);
    }
  }
  @keyframes middle {
    to {
      transform: translateX(200px);
    }
  }
  .main {
    max-width: 100%;
    padding-top: 140px;
  }
  .main__wrapper {
    grid-template-columns: 1fr;
  }
  .main__text {
    max-width: none;
  }
  .main__text h1 {
    font-size: 24px;
  }
  .main__text h2 {
    font-size: 1em;
  }
  .main__text ul li {
    padding-left: 40px;
    left: 0px;
    font-size: 14px;
  }
  .main__text ul li:before {
    left: 0px;
  }
  .main__text-btn {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  .main__text-btn span {
    max-width: none;
    margin-top: 20px;
    margin-left: auto;
    text-transform: uppercase;
    display: block;
    text-align: right;
  }
  .main__image {
    grid-template-columns: 1fr;
  }
  .main__image-box:nth-child(1) {
    grid-column-start: 1;
  }
  .main__image .timer {
    position: relative;
    max-width: 400px;
    margin: 0;
    margin-left: auto;
  }
  .main__image-box:nth-child(3) {
    grid-row-start: 1;
    max-width: 100%;
    min-height: 250px;
    background: url(../img/timer.png) no-repeat left center;
    background-size: 150px 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column-reverse;
  }
  .main__image-box:nth-child(3) span.trigger {
    position: relative;
    bottom: 0;
    max-width: 200px;
    margin: 0px;
    margin-left: auto;
    color: #314e52;
    text-align: right;
  }
  .main .square {
    height: 280px;
    width: 280px;
    right: 0;
  }
  .comparison__wrapper {
    grid-template-columns: 1fr;
  }
  .comparison__box {
    grid-template-columns: 1fr;
  }
  .comparison__box-text {
    padding: 20px;
  }
  .comparison__box-image {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
  }
  .comparison__box-image-category {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #314e52;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .comparison__box:nth-child(1) {
    padding-left: 0px;
    padding-right: 0px;
  }
  .comparison__box:nth-child(2) {
    padding-right: 0px;
    padding-left: 0px;
  }
  .comparison__info {
    text-align: center;
    margin-top: 30px;
    padding: 0px 10px;
  }
  .comparison__info span {
    display: block;
    margin-top: 30px;
    font-size: 18px;
    color: #f2a154;
  }
  .catalog__top {
    flex-direction: column;
  }
  .catalog__top h3 {
    max-width: none;
    text-align: center;
    margin-bottom: 10px;
  }
  .catalog__top a {
    margin-left: 0;
    margin: 0px auto;
  }
  .why__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .why__box {
    padding: 20px;
  }
  .why__box ul li {
    font-size: 14px;
    left: 40px;
    margin-right: 40px;
  }
  .why__box ul li span.bold {
    font-size: 1em;
  }
  .why__box ul li:before {
    height: 30px;
    width: 30px;
    left: -40px;
  }
  .why h5 {
    max-height: none;
  }
  .advantage h4 {
    font-size: 24px;
  }
  .advantage h5 {
    font-size: 14px;
  }
  .advantage__wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  .advantage__box ul {
    max-width: 100vw;
  }
  .advantage__box ul li {
    left: 0;
    margin: 15px 0px;
    padding-left: 40px;
    font-size: 14px;
  }
  .advantage__box ul li span.bold {
    font-size: 1em;
  }
  .advantage__box ul li:before {
    height: 30px;
    width: 30px;
    left: 0px;
  }
  .advantage__box img {
    max-width: 100%;
  }
  .feedback h3 {
    margin-bottom: 0;
  }
  .feedback .feedback__slide img {
    width: 200px;
    height: 200px;
  }
  .feedback .feedback__slide-box {
    font-size: 12px;
  }
  .feedback .feedback__slide-box span.bold {
    font-size: 14px;
  }
  .feedback-btn {
    margin-top: 30px;
  }
  .feedback-btn a.button {
    margin: 0px auto;
  }
  .buy {
    padding: 50px 0px;
    background: #e7e6e1;
    position: relative;
    z-index: 2;
  }
  .buy h3 {
    padding-left: 50px;
  }
  .buy h3:before {
    height: 40px;
    width: 40px;
  }
  .buy__wrapper {
    grid-template-columns: 1fr;
  }
  .buy__steps {
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }
  .buy__steps-card {
    grid-column-start: 1;
    width: 100%;
  }
  .buy__steps-card:nth-child(3):before {
    bottom: -50px;
    left: 30%;
    transform: rotate(-40deg);
  }
  .buy__steps-image:nth-child(5):before {
    bottom: -50px;
    left: 30%;
    transform: rotate(-40deg);
  }
  .buy__steps-image:nth-child(4):before {
    display: block;
    bottom: -50px;
    left: 30%;
    transform: rotate(-40deg);
  }
  .buy__steps-image:nth-child(4) {
    grid-column-start: 1;
    grid-row-start: 5;
  }
  .buy__steps-image:nth-child(5) {
    grid-column-start: 1;
    grid-row-start: 4;
    grid-row-end: 4;
  }
  .buy__steps-image:nth-child(6) {
    grid-column-start: 1;
    grid-row-start: 6;
  }
  .buy-btn {
    margin-top: 50px;
  }
  .buy .line {
    height: 200px;
  }
  .footer__wrapper {
    grid-template-columns: 1fr;
  }
  .footer__column form {
    flex-direction: column;
  }
  .footer__column form input {
    max-width: 100%;
    min-width: 100%;
  }
  .footer__column form button {
    margin-top: 20px;
    min-width: 100%;
    max-width: 100%;
  }
  .care h3 {
    max-width: none;
    text-align: center;
  }
  .care__image {
    min-height: 300px;
  }
  .care__image span {
    text-align: center;
    font-size: 14px;
  }
  .care__image span:nth-child(1) {
    top: 68%;
    left: 15%;
    transform: rotate(8deg);
    font-size: 18px;
  }
  .care__image span:nth-child(2) {
    top: 60%;
    left: 63%;
  }
  .care__image span:nth-child(3) {
    top: 50%;
    left: 20%;
  }
  .care__image span:nth-child(4) {
    top: 35%;
    left: 58%;
  }
  .care__image span:nth-child(5) {
    top: 45%;
    left: 60%;
  }
  .care__image span:nth-child(6) {
    top: 45%;
    left: 75%;
  }
  .care__toilet {
    max-width: 200px;
    position: relative;
    margin: 0px auto;
  }
  .care__other {
    margin-top: 30px;
  }
  .care__other span {
    font-size: 14px;
    text-align: center;
  }
  .care__other span:nth-child(2) {
    left: 5%;
  }
  .care__other span:nth-child(3) {
    left: 45%;
  }
  .care__other span:nth-child(4) {
    left: 75%;
  }
  .care__btn {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
  .care__btn span {
    margin-top: 20px;
    margin-left: 0px;
    max-width: 300px;
  }
  .care .circle {
    width: 500px;
    min-height: 500px;
    background: #314e52;
    border-radius: 50%;
    position: absolute;
    bottom: -200px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
  }
}
