@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito+Sans&display=swap');
.header() {font-family: Montserrat; font-weight: 700; line-height: 150%;}
.regular() {font-family: Nunito Sans; font-weight: 400; line-height: 150%;}
html {
overflow-y: scroll;
}
  
:root {
overflow-y: auto;
overflow-x: hidden;
}
  
:root body {
position: absolute;
}

.swiper-container {
    overflow: hidden;
    position: relative;
}

*,
*:before,
*:after {
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 1em;
}
ol,
ul {
  list-style: none;
}
img {
  max-width: 100%;
}

@text: #1c1c1c;
@blue: #314e52;
@light: #e7e6e1;
@orange: #f2a154;

body {
    width: 100vw;
    overflow: hidden;
    .regular();
    color: @text;
    position: relative;
}
a {
    color: @text;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    padding: 0px 10px;
    margin: 0px auto;
}
a.button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    max-width: 200px;
    height: 50px;
    color: #fff;
    font-size: 18px;
    position: relative;
    z-index: 2;
    box-shadow: 10px 10px 0px #000;
}
a.button-orange {
    background: @orange;
}
a.button-blue {
    background: @blue;
}
h3 {
    font-size: 36px;
    .header();
    color: @blue;
}
.line {
    width: 100vw;
    height: 200px;
    background: @blue;
    position: absolute;
    bottom: 0;
    left: 0;
}

.header {
    &__top {
        background: @blue;
        &-wrapper {
            padding: 5px 0px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #fff;
            a {
                color: #fff;
            }
        }
    }
    &__main {
        &-wrapper {
            display: grid;
            grid-template-columns: 250px 1fr;
            align-items: center;
            min-height: 90px;
        }
        &-logo {
            span {
                display: block;
                text-transform: uppercase;
                font-size: 18px;
                .header();
                color: @blue;
            }
            span:nth-child(2) {
                color: @orange;
            }
        }
        &-links {
            min-height: 100%;
            display: grid;
            align-items: center;
            ul {
                display: flex;
                align-items: center;
                justify-content: space-between;
                min-height: 100%;
                li {
                    a {
                        display: flex;
                        align-items: center;
                        font-size: 18px;
                        .header();
                        color: @blue;
                        min-height: 90px;
                        position: relative;
                    }
                    a:before {
                        content: '';
                        width: 0%;
                        height: 4px;
                        background: @orange;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        transition: all 0.5s linear;
                    }
                    a:hover:before {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.main {
    background: @light;
    padding: 50px 0px;
    position: relative;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-gap: 30px;
        align-items: center;
        position: relative;
        z-index: 5;
    }
    &__text {
        h1 {
            .header();
            color: @blue;
            font-size: 45px;
            margin-bottom: 15px;
        }
        h2 {
            font-size: 20px;
        }
        ul {
            margin: 30px 0px;
            li {
               position: relative;
               left: 40px;   
               margin: 10px 0px;   
            }
            li:before {
                content: '';
                width: 20px;
                height: 20px;
                background: url(../img/icons/ok.svg) no-repeat center;
                background-size: cover;
                position: absolute;
                left: -40px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &-btn {
            display: flex;
            align-items: center;
            margin-bottom: 40px;
            span {
                margin-left: 30px;
                text-transform: uppercase;
                max-width: 300px;
            }
        }
    }
    &__image {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;
        position: relative;
        &-box:nth-child(1) {
            grid-column-start: span 2;
        }
        &-box:nth-child(3) {
            background: url(../img/timer.png) no-repeat left top;
            background-size: 150px 150px;
        }
        .timer {
            position: absolute;
            right: 0;
            bottom: 0px;
            background: @orange;
            font-size: 16px;
            .header();
            max-width: 200px;
            text-align: center;
            padding: 10px;
            color: @blue;
            &__main {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 32px;
                margin-top: 10px;
            }
        }
        span.trigger {
            position: absolute;
            bottom: -60px;
            color: @orange;
            .header();
            text-align: center;
        }
    }
    .square {
        position: absolute;
        height: 500px;
        width: 500px;
        background: @blue;
        right: ~'calc((100vw - 1240px) / 2)';
        bottom: 0;
        z-index: 1;
    }
}

.comparison {
    padding: 80px 0px 50px 0px;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-gap: 30px;
    }
    &__box {
        background: @light;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        &-text {
            padding: 30px;
        }
        &-category {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            background: @orange;
            font-size: 18px;
            box-shadow: 10px 10px 0px #000;
            margin-bottom: 50px;
        }
        &-image {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            position: relative;
            &-category {
                width: 200px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                background: @blue;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    &__box:nth-child(1) {
        padding-left: ~'calc((100vw - 1220px) / 2)';
    }
    &__box:nth-child(2) {
        padding-right: ~'calc((100vw - 1220px) / 2)';
    }
    &__info {
        text-align: center;
        margin-top: 30px;
        padding: 0px ~'calc((100vw - 1220px) / 2)';
        span {
            display: block;
            margin-top: 30px;
            font-size: 18px;
            color: @orange;
        }
    }
}

.catalog {
    padding: 50px 0px;
    background: @blue;
    &__top {
        display: flex;
        margin-bottom: 30px;
        h3 {
            max-width: 400px;
            color: #fff;
        }
        a {
            margin-left: auto;
        }
    }
    &__box {
        img {
            display: block;
            max-width: 90%;
            margin: 0px auto;
            position: relative;
            top: 50px;
        }
        &-info {
            background: @light;
            padding: 80px 20px 30px 20px;
            h4 {
                .header();
                text-align: center;
                margin-bottom: 10px;
                font-size: 18px;
            }
            a.button {
                margin-top: 20px;
                min-width: 100%;
                max-width: 100%;
            }
            span.price {
                display: block;
                margin-top: 10px;
                .header();
            }
        }
    }
}

.why {
    padding: 50px 0px;
    background: url(../img/whybg.png) no-repeat center;
    background-size: cover;
    text-align: center;
    position: relative;
    h3 {
        color: #fff;
        padding: 5px;
        background: @blue;
        border-radius: 10px;
        display: inline-block;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-gap: 30px;
        margin-top: 40px;
    }
    &__box {
        text-align: left;
        background: rgba(255, 255, 255, 0.7);
        padding: 30px;
        ul {
            li {
                margin: 15px 0px;
                position: relative;
                left: 60px;
                margin-right: 60px;
                span.bold {
                    display: block;
                    font-size: 18px;
                    .header();
                    margin-bottom: 10px;
                }
            }
            li:before {
                content: '';
                height: 40px;
                width: 40px;
                background: url(../img/icons/okcircle.svg) no-repeat center;
                background-size: cover;
                position: absolute;
                left: -60px;
                top: 0;
            }
        }
    }
    h5 {
        max-height: 65px;
        margin-top: auto;
        padding: 5px;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 10px;
    }
}

.advantage {
    padding: 50px 0px;
    background: @blue;
    h4 {
        text-align: center;
        .header();
        font-size: 32px;
        color: @orange;
        margin-bottom: 40px;
    }
    h5 {
        text-align: center;
        font-size: 18px;
        color: #fff;
    }
    &__wrapper {
        display: flex;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-gap: 30px;
    }
    &__box {
        ul {
            li {
                margin: 15px 0px;
                position: relative;
                left: 60px;
                margin-right: 60px;
                color: #fff;
                span.bold {
                    display: block;
                    font-size: 18px;
                    .header();
                    margin-bottom: 10px;
                    color: @orange;
                }
            }
            li:before {
                content: '';
                height: 40px;
                width: 40px;
                background: url(../img/icons/okcircle.svg) no-repeat center;
                background-size: cover;
                position: absolute;
                left: -60px;
                top: 0;
            }
        }
        img {
            max-width: 400px;
        }
    }
}

.feedback {
    padding: 50px 0px;
    position: relative;
    h3 {
        text-align: center;
        margin-bottom: 40px;
    }
    .feedback__slide {
        img {
            display: block;
            width: 300px;
            height: 300px;
            border-radius: 50%;
            border: 4px solid #fff;
            margin: 0px auto;
            position: relative;
            top: 50px;
        }
        &-box {
            padding: 80px 30px 30px 30px;
            background: @light;
            text-align: center;
            span.name {
                display: block;
                margin-top: 20px;
                font-size: 14px;
            }
            span.bold {
                .header();
            }
        }
    }
    &-btn {
        margin-top: 30px;
        a.button {
            margin: 0px auto;
        }
    }
}

.buy {
    padding: 50px 0px;
    background: @light;
    position: relative;
    z-index: 2;
    h3 {
        margin-bottom: 40px;
        position: relative;
        padding-left: 70px;
    }
    h3:before {
        content: '';
        height: 60px;
        width: 60px;
        background: url(../img/icons/cart.svg) no-repeat center;
        background-size: cover;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 30px;
        position: relative;
        z-index: 2;
    }
    &__text {
        ol {
            li {
                list-style: decimal;
                list-style-position: inside;
            }
        }
    }
    &__steps {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        grid-gap: 20px;
        &-card {
            grid-column-start: 1;
            width: 200px;
            height: 50px;
            box-shadow: 10px 10px 0px #000;
            color: #fff;
            background: @blue;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }
        &-card:before, &-image:before {
            content: '';
            height: 40px;
            width: 40px;
            background: url(../img/icons/arrowsteps.svg) no-repeat center;
            background-size: cover;
            position: absolute;
            bottom: -50px;
            left: 30%;
            transform: rotate(-40deg);
        }
        &-card:nth-child(3):before {
            bottom: 60px;
            left: 90%;
            transform: rotate(-130deg);
        }
        &-image:nth-child(5):before {
            left: 0%;
            transform: rotate(40deg);
        }
        &-image:nth-child(4):before, &-image:nth-child(6):before {
            display: none;
        }
        &-image {
            display: flex;
            align-items: flex-end;
            position: relative;
            img {
                box-shadow: 10px 10px 0px #000;
                display: block;
            }
        }
        &-image:after {
            content: '';
            width: 60px;
            height: 60px;
            position: absolute;
            bottom: 20px;
            left: 20px;
            background: @blue;
            color: #fff;
            font-size: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-image:nth-child(4) {
            grid-column-start: 1;
            grid-row-start: 4;
        }
        &-image:nth-child(5) {
            grid-column-start: 2;
            grid-row-start: 1;
            grid-row-end: 4;
        }
        &-image:nth-child(6) {
            grid-column-start: 2;
            grid-row-start: 4;
        }
        &-image:nth-child(4):after {
            content: '5';
        }
        &-image:nth-child(5):after {
            content: '4';
        }
        &-image:nth-child(6):after {
            content: '6-7';
        }
    }
    .line {
        height: 200px;
    }
}

.form {
    background: @blue;
    &__wrapper {
        min-height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h3 {
            text-align: center;
            color: #fff;
            margin-bottom: 30px;
        }
    }
}

.footer {
    padding: 50px 0px;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-gap: 20px;
    }
    &__column {
        h5 {
            margin-bottom: 10px;
        }
        span {
            font-size: 14px;
        }
        form {
            margin-top: 30px;
            max-width: 100%;
            display: flex;
            align-items: center;
            input {
                font-size: 1em;
                .regular();
                border: 2px solid #c4c4c4;
                max-width: 200px;
                height: 40px;
                display: flex;
                align-items: center;
                padding: 0px 10px;
                margin-right: 10px;
            }
            button {
                height: 40px;
                width: 100px;
                font-size: 1em;
                color: #fff;
                background: @orange;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    &__column:nth-child(2) {
        a {
            display: block;
            margin-bottom: 20px;
            padding-left: 30px;
            position: relative;
        }
        a:before {
            content: '';
            width: 20px;
            height: 20px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        a.whatsapp:before {
            background: url(../img/icons/whatsapp.svg);
            background-size: cover;
        }
        a.phone:before {
            background: url(../img/icons/phone.svg);
            background-size: cover;
        }
        a.mail:before {
            background: url(../img/icons/email.svg);
            background-size: cover;
        }
    }
    &__column:nth-child(3) {
        a {
            display: block;
            margin-bottom: 10px;
        }
    }
}

.care {
    padding: 50px 0px;
    background: @light;
    overflow: hidden;
    position: relative;
    h3 {
        max-width: 500px;
    }
    &__wrapper {
        position: relative;
        z-index: 2;
    }
    &__image {
        min-height: 600px;
        background: url(../img/carebg.png) no-repeat center;
        background-size: 800px;
        position: relative;
        span {
            padding: 5px;
            border-radius: 10px;
            color: #fff;
            background: @blue;
            position: absolute;
        }
        span:nth-child(1) {
            top: 68%;
            left: 35%;
            transform: rotate(8deg);
            font-size: 24px;
        }
        span:nth-child(2) {
            top: 63%;
            left: 65%;
        }
        span:nth-child(3) {
            top: 50%;
            left: 30%;
        }
        span:nth-child(4) {
            top: 38%;
            left: 58%;
        }
        span:nth-child(5) {
            top: 39%;
            left: 68%;
        }
        span:nth-child(6) {
            top: 45%;
            left: 75%;
        }
    }
    &__toilet {
        max-width: 250px;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    &__toilet:before {
        content: 'Туалет';
        position: absolute;
        font-size: 1em;
        color: #fff;
        right: 10%;
        bottom: 18%;
        background: @blue;
        padding: 5px;
        border-radius: 10px;
    }
    &__other {
        max-width: 600px;
        position: relative;
        bottom: -100px;
        right: 0;
        z-index: 3;
        span {
            padding: 5px;
            border-radius: 10px;
            color: #fff;
            background: @blue;
            position: absolute;
        }
        span:nth-child(2) {
            top: 50%;
            left: 10%;
        }
        span:nth-child(3) {
            top: 50%;
            left: 50%;
        }
        span:nth-child(4) {
            top: 50%;
            left: 80%;
        }
    }
    &__top {
        display: flex;
    }
    &__btn {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 3;
        span {
            text-transform: uppercase;
            margin-left: 20px;
            max-width: 300px;
            color: #fff;
        }
    }
    .circle {
        width: 100vw;
        min-height: 800px;
        background: @blue;
        border-radius: 50%;
        position: absolute;
        bottom: -40%;
        z-index: 1;
    }
}

@media (max-width: 950px) {
    .container {
        max-width: none;
    } 
    .header {
        &__top {
            &-wrapper {
                a {
                    font-size: 12px;
                }
            }
        }
        &__main {
            &-logo {
                span {
                    font-size: 1em;
                }
            }
            &-links {
                ul {
                    li {
                        a {
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }
    
    .main {
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__text {
            max-width: 80%;
        }
        &__image {
            .timer {
                position: relative;
                max-width: 400px;
                margin: 0px auto;
            }
            &-box:nth-child(3) {
                background: url(../img/timer.png) no-repeat left top;
                background-size: 200px 200px;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                flex-direction: column;
                span.trigger {
                    position: relative;
                    bottom: 0;
                    max-width: 400px;
                    margin: 0px auto;
                }
            }
        }
        .square {
            right: 0px;
        }
    }
    
    .comparison {
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__box:nth-child(1) {
            padding-left: 10px;
            padding-right: 10px;
        }
        &__box:nth-child(2) {
            padding-right: 10px;
            padding-left: 10px;
        }
        &__info {
            padding-right: 10px;
            padding-left: 10px;
        }
    }
    
    .why {
        &__wrapper {
            display: grid;
            grid-template-columns: 1fr;
        }
    }
    
    .advantage {
        &__wrapper {
            display: grid;
            grid-template-columns: 1fr;
        }
        &__box:nth-child(2) {
            grid-row-start: 3;
        }
    }
    
    .buy {
        &__wrapper {
            grid-template-columns: 1fr;
        }
    }
    
    .footer {
        &__wrapper {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .care {
        h3 {
            max-width: none;
            text-align: center;
        }
        &__image {
            min-height: none;
            background: url(../img/carebg.png) no-repeat center;
            background-size: 100%;
            position: relative;
            span {
                padding: 5px;
                border-radius: 10px;
                color: #fff;
                background: @blue;
                position: absolute;
            }
            span:nth-child(1) {
                top: 68%;
                left: 25%;
                transform: rotate(8deg);
                font-size: 24px;
            }
            span:nth-child(2) {
                top: 63%;
                left: 65%;
            }
            span:nth-child(3) {
                top: 50%;
                left: 30%;
            }
            span:nth-child(4) {
                top: 38%;
                left: 58%;
            }
            span:nth-child(5) {
                top: 39%;
                left: 68%;
            }
            span:nth-child(6) {
                top: 45%;
                left: 75%;
            }
        }
        &__toilet {
            max-width: 250px;
            position: absolute;
            right: 0;
            bottom: 0;
        }
        &__other {
            margin-top: 50px;
            max-width: none;
            position: relative;
            bottom: 0px;
            right: 0;
            z-index: 3;
            span {
                padding: 5px;
                border-radius: 10px;
                color: #fff;
                background: @blue;
                position: absolute;
            }
            span:nth-child(2) {
                top: 50%;
                left: 10%;
            }
            span:nth-child(3) {
                top: 50%;
                left: 50%;
            }
            span:nth-child(4) {
                top: 50%;
                left: 80%;
            }
        }
        &__top {
            display: flex;
            flex-direction: column;
        }
        &__btn {
            display: flex;
            align-items: center;
            position: relative;
            z-index: 3;
            span {
                text-transform: uppercase;
                margin-left: 20px;
                max-width: 300px;
                color: #fff;
            }
        }
        .circle {
            width: 100vw;
            min-height: 800px;
            background: @blue;
            border-radius: 50%;
            position: absolute;
            bottom: -40%;
            z-index: 1;
        }
    }

}

@media (max-width: 600px) {
    .container {
        padding: 0px 20px;
    }
    a.button {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 200px;
        max-width: 200px;
        height: 50px;
        color: #fff;
        font-size: 18px;
        position: relative;
        z-index: 2;
        box-shadow: 10px 10px 0px #000;
    }
    a.button-orange {
        background: @orange;
    }
    a.button-blue {
        background: @blue;
    }
    h3 {
        font-size: 24px;
    }
    .line {
        width: 100vw;
        height: 200px;
        background: @blue;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: #fff;
        z-index: 10;
        &__top {
            display: none;
        }
        &__main {
            &-wrapper {
                grid-template-columns: 250px 1fr;
            }
            &-links {
                margin-left: auto;
                min-height: 24px;
                width: 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                span {
                    height: 2px;
                    width: 100%;
                    border-radius: 5px;
                    background: #000;
                }
                ul {
                    position: fixed;
                    top: 90px;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    background: #fff;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: start;
                    min-height: 100%;
                    z-index: 10;
                    padding-top: 50px;
                    transform: translateX(100%);
                    opacity: 0;
                    transition: all 0.5s linear;
                    li {
                        a {
                            display: flex;
                            align-items: center;
                            font-size: 18px;
                            .header();
                            color: @blue;
                            min-height: 50px;
                            position: relative;
                            min-width: 100%;
                        }
                        a:before {
                            content: '';
                            width: 0%;
                            height: 4px;
                            background: @orange;
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            transition: all 0.5s linear;
                        }
                        a:hover:before {
                            width: 100%;
                        }
                    }
                }
                .menu-open {
                    transform: translateX(0%);
                    opacity: 1.0;
                }
                .top {
                    animation: top 0.5s linear forwards;
                }
                .middle {
                    animation: middle 0.5s linear forwards;
                }
                .bottom {
                    animation: bottom 0.5s linear forwards;
                }
                @keyframes top {
                    to {
                        transform: translateY(11px) rotate(45deg);
                    }
                }
                @keyframes bottom {
                    to {
                        transform: translateY(-11px) rotate(-45deg);
                    }
                }
                @keyframes middle {
                    to {
                        transform: translateX(200px);
                    }
                }
            }
        }
    }
    
    .main {
        max-width: 100%;
        padding-top: 140px;
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__text {
            max-width: none;
            h1 {
                font-size: 24px;
            }
            h2 {
                font-size: 1em;
            }
            ul {
                li {
                   padding-left: 40px;
                   left: 0px;  
                   font-size: 14px;   
                }
                li:before {
                    left: 0px;
                }
            }
            &-btn {
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                margin-bottom: 10px;
                span {
                    max-width: none;
                    margin-top: 20px;
                    margin-left: auto;
                    text-transform: uppercase;
                    display: block;
                    text-align: right;
                }
            }
        }
        &__image {
            grid-template-columns: 1fr;
            &-box:nth-child(1) {
                grid-column-start: 1;
            }
            .timer {
                position: relative;
                max-width: 400px;
                margin: 0;
                margin-left: auto;
            }
            &-box:nth-child(3) {
                grid-row-start: 1;
                max-width: 100%;
                min-height: 250px;
                background: url(../img/timer.png) no-repeat left center;
                background-size: 150px 150px;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                flex-direction: column-reverse;
                span.trigger {
                    position: relative;
                    bottom: 0;
                    max-width: 200px;
                    margin: 0px;
                    margin-left: auto;
                    color: @blue;
                    text-align: right;
                }
            }
        }
        .square {
            height: 280px;
            width: 280px;
            right: 0;
        }
    }
    
    .comparison {
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__box {
            grid-template-columns: 1fr;
            &-text {
                padding: 20px;
            }
            &-image {
                display: grid;
                grid-template-columns: 1fr;
                position: relative;
                &-category {
                    width: 200px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #fff;
                    background: @blue;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        &__box:nth-child(1) {
            padding-left: 0px;
            padding-right: 0px;
        }
        &__box:nth-child(2) {
            padding-right: 0px;
            padding-left: 0px;
        }
        &__info {
            text-align: center;
            margin-top: 30px;
            padding: 0px 10px;
            span {
                display: block;
                margin-top: 30px;
                font-size: 18px;
                color: @orange;
            }
        }
    }
    
    .catalog {
        &__top {
            flex-direction: column;
            h3 {
                max-width: none;
                text-align: center;
                margin-bottom: 10px;
            }
            a {
                margin-left: 0;
                margin: 0px auto;
            }
        }
    }
    
    .why {
        &__wrapper {
            grid-template-columns: repeat(1, 1fr);
        }
        &__box {
            padding: 20px;
            ul {
                li {
                    font-size: 14px;
                    left: 40px;
                    margin-right: 40px;
                    span.bold {
                        font-size: 1em;
                    }
                }
                li:before {
                    height: 30px;
                    width: 30px;
                    left: -40px;
                }
            }
        }
        h5 {
            max-height: none;
        }
    }
    
    .advantage {
        h4 {
            font-size: 24px;
        }
        h5 {
            font-size: 14px;
        }
        &__wrapper {
            display: grid;
            grid-template-columns: 1fr;
        }
        &__box {
            ul {
                max-width: 100vw;
                li {
                    left: 0;
                    margin: 15px 0px;
                    padding-left: 40px;
                    font-size: 14px;
                    span.bold {
                        font-size: 1em;
                    }
                }
                li:before {
                    height: 30px;
                    width: 30px;
                    left: 0px;
                }
            }
            img {
                max-width: 100%;
            }
        }
    }
    
    .feedback {
        h3 {
            margin-bottom: 0;
        }
        .feedback__slide {
            img {
                width: 200px;
                height: 200px;
            }
            &-box {
                font-size: 12px;
                span.bold {
                    font-size: 14px;
                }
            }
        }
        &-btn {
            margin-top: 30px;
            a.button {
                margin: 0px auto;
            }
        }
    }
    
    .buy {
        padding: 50px 0px;
        background: @light;
        position: relative;
        z-index: 2;
        h3 {
            padding-left: 50px;
        }
        h3:before {
            height: 40px;
            width: 40px;
        }
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__steps {
            grid-template-columns: 1fr;
            grid-gap: 50px;
            &-card {
                grid-column-start: 1;
                width: 100%;
            }
            &-card:nth-child(3):before {
                bottom: -50px;
                left: 30%;
                transform: rotate(-40deg);
            }
            &-image:nth-child(5):before {
                bottom: -50px;
                left: 30%;
                transform: rotate(-40deg);
            }
            &-image:nth-child(4):before {
                display: block;
                bottom: -50px;
                left: 30%;
                transform: rotate(-40deg);
            }
            &-image:nth-child(4) {
                grid-column-start: 1;
                grid-row-start: 5;
            }
            &-image:nth-child(5) {
                grid-column-start: 1;
                grid-row-start: 4;
                grid-row-end: 4;
            }
            &-image:nth-child(6) {
                grid-column-start: 1;
                grid-row-start: 6;
            }
        }
        &-btn {
            margin-top: 50px;
        }
        .line {
            height: 200px;
        }
    }
    
    .footer {
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__column {
            form {
                flex-direction: column;
                input {
                    max-width: 100%;
                    min-width: 100%;
                }
                button {
                    margin-top: 20px;
                    min-width: 100%;
                    max-width: 100%;
                }
            }
        }
    }
    .care {
        h3 {
            max-width: none;
            text-align: center;
        }
        &__image {
            min-height: 300px;
            span {
                text-align: center;
                font-size: 14px;
            }
            span:nth-child(1) {
                top: 68%;
                left: 15%;
                transform: rotate(8deg);
                font-size: 18px;
            }
            span:nth-child(2) {
                top: 60%;
                left: 63%;
            }
            span:nth-child(3) {
                top: 50%;
                left: 20%;
            }
            span:nth-child(4) {
                top: 35%;
                left: 58%;
            }
            span:nth-child(5) {
                top: 45%;
                left: 60%;
            }
            span:nth-child(6) {
                top: 45%;
                left: 75%;
            }
        }
        &__toilet {
            max-width: 200px;
            position: relative;
            margin: 0px auto;
        }
        &__other {
            margin-top: 30px;
            span {
                font-size: 14px;
                text-align: center;
            }
            span:nth-child(2) {
                left: 5%;
            }
            span:nth-child(3) {
                left: 45%;
            }
            span:nth-child(4) {
                left: 75%;
            }
        }
        &__btn {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            span {
                margin-top: 20px;
                margin-left: 0px;
                max-width: 300px;
            }
        }
        .circle {
            width: 500px;
            min-height: 500px;
            background: @blue;
            border-radius: 50%;
            position: absolute;
            bottom: -200px;
            z-index: 1;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
 